extends layout

block content
    table
      tbody
        for event in events
          tr
            td= event.createdAt
            td= event.message

block scripts
  script(type='text/javascript') var ADOBE_API_KEY = "#{clientId}"
  script(type='text/javascript' src='/javascripts/events.js')
